@import "imports";

body.home-layout.home.about main {
  @include outer-container;

  padding: 0 25px;

  @include page_header(3);

  p.description {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  section.story {
    @include span-columns(12);

    p {
      margin-top: 0;
    }
  }

  section.values {
    @include span-columns(12);

    margin-top: 25px;

    ul {
      @include outer-container;

      list-style: none;
      padding: 0;

      li {
        @include span-columns(1 of 5);

        text-align: center;

        p {
          font-size: .75em;
        }
      }
    }
  }

  section.roadmap {
    @include span-columns(12);

    margin-top: 25px;

    ul.stages {
      @include outer-container;

      list-style: none;
      padding: 0;

      li.stage {
        @include span-columns(1 of 3);

        @include media($mobile) {
          @include span-columns(4);
        }

        @include media($tablet) {
          @include span-columns(12);
        }

        background-color: white;
        border: 1px solid $light-grey;
        border-radius: 6px;
        font-size: .75em;
        margin-top: 20px;
        padding: 15px;

        &.active {
          border-width: 3px;
          margin-top: 0;

          @include media($mobile) {
            margin-top: 20px;
          }

          @include media($tablet) {
            margin-top: 20px;
          }

          .progress-bar {
            background-color: lighten($light-grey, 10%);
            margin-top: 25px;
            min-height: 5px;
            min-width: 75%;

            .progress {
              background-color: $yellow;
              min-height: 5px;
              width: 25%;
            }
          }

          ul.tasks {
            list-style: none;
            padding-left: 0;

            i {
              color: $base-font-color;
              margin-right: 5px;
            }

            small {
              float: right;
              padding-top: 2px;
            }
          }
        }

        h3 {
          margin-bottom: 0;
          text-align: center;
        }

        h6 {
          text-align: center;
        }

        ul {
          padding-left: 20px;
        }

        p.actions {
          text-align: center;
        }
      }
    }
  }
}
