@import "imports";

body.home-layout.home.index main {
  section#welcome {
    background-image: image-url("home/downtown-fargo.jpg");
    background-position: center;
    background-size: cover;
    color: $white;
    height: 500px;
    padding: 25px;
    text-align: center;

    @include media($mobile) {
      padding-top: 0;
    }

    h1 {
      color: $white;
      padding-top: 100px;
    }
  }

  #content {
    @include outer-container;

    padding: 0 25px;

    section {
      margin-top: 25px;

      &#what-we-do {
        text-align: center;

        a {
          color: $dark-yellow;
          text-decoration: none;

          &:hover {
            color: $base-font-color;
          }
        }
      }

      p.join {
        text-align: center;
      }

      &#we-are {
        ul {
          @include outer-container;

          list-style: none;
          padding: 0;

          li {
            @include span-columns(1 of 3);

            text-align: center;
          }
        }
      }
    }
  }
}
