@import "imports";

body.application-layout.registrations.create,
body.application-layout.registrations.new {
  main {
    @include outer-container;

    padding: 0 25px;

    .page-header {
      @include span-columns(12);
      @include omega;

      margin-bottom: 25px;

      h1 {
        @include span-columns(4);
        @include shift(4);
        @include omega;

        @include media($mobile) {
          @include span-columns(4);
          @include shift(0);
        }

        border-bottom: 1px $light-grey solid;
        padding-bottom: 15px;
        margin-bottom: 20px;
        text-align: center;
      }

      p {
        @include span-columns(12);
        @include omega;

        margin-top: 0;
        text-align: center;
      }
    }

    section#registration {
      @include outer-container;
      @include span-columns(6);

      @include media($mobile) {
        @include span-columns(4);
      }

      border-right: 1px lighten($light-grey, 10%) solid;
      margin-bottom: 50px;

      @include media($mobile) {
        border-right: none;
      }

      div {
        @include outer-container;

        margin-top: 7px;
        text-align: center;

        label {
          @include span-columns(4);

          font-family: $header-font-family;
          padding-top: 7px;
          text-align: right;
        }

        input[type=email],
        input[type=file],
        input[type=password],
        input[type=text] {
          @include span-columns(6);
          @include omega;
        }

        i {
          margin-left: -18px;
          text-align: center;
          width: 18px;
        }
      }
    }

    section.seperator {
      display: none;

      @include media($mobile) {
        display: block;
      }
    }

    section#login {
      @include span-columns(6);

      @include media($mobile) {
        @include span-columns(4);
      }

      margin-bottom: 50px;
      text-align: center;
    }
  }
}
