<style>
  .overlay {
    display: none;
  }

  .overlay.modal {
    display: block;
    position: fixed;
    padding: 50px 100px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
  }

  .overlay.modal .video {
    height: 0;
    margin-top: 50px;
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    text-align: center;
  }

  .overlay.modal .video iframe,
  .overlay.modal .video object,
  .overlay.modal .video embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
</style>

<div class="overlay">
  <div class="video">
    <%== youtube_video("1RGVBg8SYPI") %>
  </div>
</div>

<% content_for :scripts do %>
  <script>
    $(document).ready(function () {
      new Konami(function() {
        $(".overlay").addClass("modal");
      });

      $(".overlay").click(function () {
        $(".overlay").removeClass("modal");
      })
    });
  </script>
<% end %>
