<div class="socials">
  <ul>
    <li><a title="Follow us on Twitter" class="twitter" href="https://twitter.com/prairieio" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a title="Follow us on YouTube" class="youtube" href="https://www.youtube.com/channel/UCiGKlKb2rVZZga82zPjmB4A" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
    <li><a title="Like &amp; Follow us on Facebook" class="facebook" href="https://www.facebook.com/prairieio" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a title="Follow us on Google+" class="google" href="https://plus.google.com/118347011039484516771" target="_blank"><i class="fa fa-google"></i></a></li>
    <li><a title="Find us on LinkedIn" class="linkedin" href="https://www.linkedin.com/company/9211346" target="_blank"><i class="fa fa-linkedin"></i></a></li>
  </ul>
</div>
