<div class="header">
  <h1>Our Partners</h1>
  <p>
    We're not in this for the money, so these are the companies that make everything we do possible. We cannot thank them enough!
  </p>
</div>

<% if @partners.count > 0 %>
  <ul>
    <% @partners.each do |partner| %>
      <li>
        <div class="logo">
          <%= link_to partner.url do %>
            <%= image_tag partner.logo %>
          <% end %>
        </div>
        <div class="description">
          <%== partner.description_html %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
