@import "imports";

body.application-layout footer,
body.home-layout footer {
  background-color: white;
  width: 100%;

  .container {
    @include outer-container;

    margin-top: 25px;
    padding: 0 25px;

    .branding {
      @include span-columns(4);

      margin: 18px 0 17px 0;

      h6 {
        margin: 0;
      }

      a {
        color: $black;
        text-decoration: none;

        &:hover {
          color: $dark-yellow;
        }
      }
    }

    .socials {
      @include span-columns(8);

      text-align: right;

      ul {
        margin: 14px 0;

        li {
          display: inline;

          a {
            color: $black;
            margin-left: 10px;

            &.twitter:hover {
              color: #55ACEE;
            }

            &.google:hover {
              color: #D34836;
            }

            &.youtube:hover {
              color: #cd201f;
            }

            &.facebook:hover {
              color: #3b5998;
            }

            &.linkedin:hover {
              color: #007BB6;
            }
          }
        }
      }
    }
  }
}
