@import "imports";

body.application-layout header,
body.home-layout header {
  @include outer-container;

  padding: 0 25px;

  @include media($mobile) {
    padding: 0;
  }

  .logo {
    @include span-columns(3);

    @include media($mobile) {
      @include span-columns(3);

      padding-left: 25px;
    }

    max-height: 67px;
    padding: 5px 0;

    img {
      max-height: 57px;
    }
  }

  .hamburger {
    display: none;

    @include media($mobile) {
      @include span-columns(1);
      @include omega;

      color: $black;
      display: block;
      font-size: 32px;
      margin-top: 10px;
      padding-right: 25px;
      text-align: right;
    }
  }

  nav {
    @include span-columns(9);

    @include media($mobile) {
      @include span-columns(4);
      @include omega;

      background-color: $yellow;
    }

    max-height: 67px;
    text-align: right;

    @include media($mobile) {
      max-height: none;

      &.hidden {
        display: none;
      }
    }

    ul {
      margin: 14px 0 14px 0;
      text-align: right;

      @include media($mobile) {
        background-color: $yellow;
        box-shadow: inset 0px 1px 5px rgba($black, 0.4);
        margin: 0;
        padding-left: 0;
        text-align: center;
      }

      li {
        display: inline;
        margin-right: 28px;

        @include media($mobile) {
          display: block;
          margin-right: 0;
          padding: 14px;
        }

        &:last-child {
          @include media($mobile) {
            display: none;
          }

          margin-right: 0;
        }

        &.link {
          position: relative;
          top: 3px;

          @include media($mobile) {
            top: 0;
          }

          a:hover,
          a.active {
            border-bottom: 2px $black solid;
          }
        }

        a {
          color: $header-font-color;
          font-family: $header-font-family;
          font-size: 14px;
          font-weight: $header-font-weight;
          text-decoration: none;
          text-transform: uppercase;

          @include media($mobile) {
            &.button {
              display: none;
            }
          }
        }
      }
    }
  }
}
