<h1>Our Story</h1>

<section class="story">
  <p>
    We exist to help build the community that we want to be part of. We want the most interconnected talent, brightest minds, innovative solutions, and open community in the nation. Our focus is high-tech fields like software, hardware, and robotics.
  </p>
</section>

<section class="values">
  <h2>Our Values</h2>
  <p class="description">
    These are what drive us, guide us, and give us purpose.
  </p>

  <ul>
    <li>
      <h6>Community</h6>
      <p>
        Our backbone is our members.
      </p>
    </li>
    <li>
      <h6>Culture</h6>
      <p>
        Irresistible culture builds communities.
      </p>
    </li>
    <li>
      <h6>Transparency</h6>
      <p>
        Trust is built upon a glass foundation.
      </p>
    </li>
    <li>
      <h6>Passion</h6>
      <p>
        Do it for the feels not the money.
      </p>
    </li>
    <li>
      <h6>Brilliance</h6>
      <p>
        Push to shine brightest.
      </p>
    </li>
  </ul>
</section>

<section class="roadmap">
  <h2>Our Roadmap</h2>
  <p class="description">
    It can be hard to get something done, there are an infinite number of distractions so we have a detailed roadmap that we follow to build Silicon Prairie.
  </p>

  <ul class="stages">
    <li class="stage">
      <h3>
        Growth<br>
        <small>Stage 1</small>
      </h3>
      <p>
        Build a strong community that is charged and shares a common vision for the future.
      </p>

      <ul>
        <li>Collaborate, encourage, and sponsor independent tech events.</li>
        <li>Seek out community pillar involvement.</li>
        <li>Start bi-weekly Interface Fargo event.</li>
      </ul>
    </li>
    <li class="stage active">
      <h3>
        Improvement<br>
        <small>Stage 2</small>
      </h3>
      <p>
        Supplement and encourage growth in underdeveloped areas.
      </p>

      <ul>
        <li>Plan and host educational workshops.</li>
        <li>Organize hackathons and conferences.</li>
        <li>Challenge the community to reach new heights.</li>
      </ul>
    </li>
    <li class="stage">
      <h3>
        Education<br>
        <small>Stage 3</small>
      </h3>
      <p>
        Maintain the momentum over the long term through education.
      </p>

      <ul>
        <li>Encourage cutting edge cirriculums at local institutions.</li>
        <li>Plan and host world-class technology bootcamps.</li>
        <li>Maintain the best tech community in the world.</li>
      </ul>
    </li>
  </ul>
</section>
