<h1>Our Sponsors</h1>

<ul>
  <li>
    <div class="logo">
      <%= link_to "http://bardcreative.com" do %>
        <%= image_tag "bard-creative.png" %>
      <% end %>
    </div>
    <div class="description">
      <p>
        Bard Creative has helped us to form our visual identity that aligned with our goals and vision through their mastery of branding. We could not have been happier with their work; it is pure excellence. Read more about it <%= link_to "here", "http://bardcreative.com/work/prairie-io/" %>.
      </p>
    </div>
  </li>
</ul>
