@import "imports";

body.application-layout.confirmations.show main {
  @include outer-container;

  padding: 25px;

  form {
    @include shift(3);
    @include span-columns(6);
  }

  div {
    @include outer-container;

    margin-top: 7px;
    text-align: center;

    label {
      @include span-columns(4);

      @include media($mobile) {
        @include span-columns(1);
      }

      font-family: $header-font-family;
      padding-top: 7px;
      text-align: right;
    }

    input[type=email],
    input[type=password],
    input[type=text] {
      @include span-columns(6);
      @include omega;

      @include media($mobile) {
        @include span-columns(3);
      }
    }

    i {
      margin-left: -18px;
      text-align: center;
      width: 18px;
    }
  }
}
